@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  width: 3.5vw;
  height: 100vh;
  transition: 0.2s ease-out;
  text-align: center;
  z-index: 1;
  position: absolute;
  background-color: "#191D32";
  padding-top: 10px;
  overflow-x: hidden;
}

.sidebar:hover {
  width: 15vw;
  text-align: left;
}

.links:hover {
  transition: ease-in-out 0.2s;
  background-color: rgb(8, 50, 105);
}
